/* Navbar.css */

.navbar {
    background-color: #333; /* Set the background color of the navbar */
    color: #fff; /* Set text color to white */
    display: flex;
    justify-content: space-between; /* Align items with equal space between them */
    align-items: center; /* Vertically align items */
    padding: 1rem;
  }
  
  .logo {
    font-size: 1.5rem; /* Increase font size for the logo */
  }
  
  .nav-links {
    list-style: none; /* Remove default list styles */
    display: flex;
  }
  
  .nav-links li {
    margin-right: 1rem; /* Add some space between nav items */
  }
  
  .nav-links a {
    color: #fff; /* Set text color to white */
    text-decoration: none; /* Remove underline from links */
    transition: color 0.3s ease; /* Add smooth transition effect for color change */
  }
  
  .nav-links a:hover {
    color: #ff7f0e; /* Change text color on hover */
  }
  